version: "3.7"
services:
  db:
    image: postgres
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=venus
    volumes:
      - /home/dbdata:/var/lib/postgresql/data
  backend:
    image: aabdelhady/venus-backend
    ports:
      - 8080:8080
    depends_on:
      - db
    restart: always
  reverse:
    image: nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend
    volumes:
      - /home/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /home/nginx/error.log:/etc/nginx/error_log.log
      - /home/nginx/cache/:/etc/nginx/cache
      - /etc/letsencrypt/:/etc/letsencrypt/